.form {
    background: var(--footer-color);
    padding: 6em 21em 2em;
    text-align: center;
}

.form__title {
    font-size: 36px;
    font-weight: 600;
    color: var(--strong-color);
}

.form__text {
    font-size: 20px;
    font-weight: 400;
    color: var(--light-color);
    padding: 1.25em 0 2em;
}

.form__signup {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.form__signup__email {
    border: 1px solid var(--border-footer-color);
    box-shadow: 0px 1px 2px 0px --shadow-footer-color;
    border-radius: 8px;
    padding: 0.75em 1em;
    width: 55%;
}

.form__signup__button {
    background: var(--main-color);
    color: var(--white);
    padding: 0.75em 1em;
    border-radius: 8px;
}
